.nav {
    background: #000000;
}
.imghead {
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.seting {
    height: 30px;
    position: relative;
    bottom: 50px;
    left: 40px;
}
.instagram {
    height: 70px;
    float: right;
    position: relative;
    bottom: 110px;
    right: 300px;
}
.support {
    height: 70px;
    float: right;
    position: relative;
    bottom: 110px;
    right: 100px;
}
.github {
    height: 70px;
    float: right;
    position: relative;
    bottom: 110px;
    right: -100px;