.container4 {
    background: rgb(154, 154, 154);
    display: flex;
    padding-left: 100px;
}
.container4 h3 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.number {
    right: 100px;
    position: absolute;
}